.title-animation-idle {
	display: block;
	transform: translate(0, 5rem);
	transition: all 0.6s ease;
	opacity: 0;

	&.activate-animation {
			transform: translate(0, 0);
			opacity: 1;
	}
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 rgba(256,0,0,1)
  }

  70% {
      box-shadow: 0 0 0 10px rgba(0,0,0,0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(0,0,0,0)
  }
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 rgba(53,182,48,1)
    }
  
    70% {
        box-shadow: 0 0 0 10px rgba(0,0,0,0)
    }
  
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0)
    }
  }

@keyframes tels {
    100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(25deg);
    }
}


@keyframes flight {
	0% {
			transform: translateY(0)
	}

	50% {
			transform: translateY(-4px)
	}

	100% {
			transform: translateY(0)
	}
}