.get {
  // background: @white url(../img/get-bg.jpg) no-repeat left bottom/contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &__content {
    position: relative;
    min-height: 742px;
    .sm(min-height, 527px);
  }

  .get__girl {
    position: absolute;
    left: 0;
    bottom: 0;
    .sm-block({
      width: 200px;
      height: 323px;
      left: -20px;
    });
  }

  &__title {
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 605px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 183%;
    color: @dark_grey;

    .lg(font-size, 25px);
    .sm-block({
      max-width: 210px;
      font-size: 16px;
      line-height: 26px;
      left: unset;
      right: 0;
      top: 35%;
    });

    br {
      .lg(display, none);
    }
  }

  &__btn {
    width: 375px;
    margin: 0 auto;
    // margin-bottom: 170px;
    .sm-block({
      max-width: 100%;
      font-size: 11px;
    });
    .xs(font-size, 9px);

  }
}

.seven-days {
  .get {
    &__content {
      .sm(min-height, 380px);
    }

    &__title {
      top: 36%;
      left: 51%;

      .lg-block({
        left: unset;
        right: 0;
      });
      .sm-block({
        top: 46%;
      });

      br {
        display: none;
        .lg(display, block);
      }
    }
  }
}