.hero {
  background: @grey url(../img/hero-bg.jpg) no-repeat center/cover;
  min-height: 1026px;
  overflow-x: hidden;
  .md(min-height, 656px);

  &__wrapper {
    position: relative;
  }

  &__content {
    padding-top: 100px;
    padding-bottom: 337px;
    .md-block({
      padding-top: 46px;
    });
  }

  &__text {
    h1 {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 40px;
      line-height: 158.5%;
      text-transform: uppercase;
      .md-block({
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 26px;
      });
      span {
        display: block;
        font-style: italic;
        font-weight: 500;
        color: @dark_grey;
      }
    }
  }

  &__descr {
    margin-bottom: 64px;
    max-width: 484px;
    font-size: 20px;
    line-height: 128.03%;
    text-transform: lowercase;
    color: rgba(47, 43, 50, 0.7);
    .md-block({
      margin-bottom: 23px;
      max-width: 280px;
      font-size: 12px;
      line-height: 14px;
    });
  }

  &__btn {
    width: 290px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
    text-align: center;
    .md-block({
      font-size: 11px;
      width: 233px;
      height: 37px;
      line-height: 37px;
      background: @accent url(../img/svg/logo-button.svg) no-repeat 102% center/contain;
    });
  }

  &__girl {
    position: absolute;
    left: 55%;
    bottom: 0;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    .md-block({
      width: 265px;
    });
    .sm-block({
      width: 164px;
    });
    .xs-block({
      left: unset;
      right: -34px;
    });
  }

  &__iphone {
    position: absolute;
    left: 20%;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    .lg-block({
      left: -80px;
      width: 285px;
    });

    &::before {
      position: absolute;
      left: 110px;
      top: -27px;
      font-weight: 700;
      font-size: 36px;
      content: 'iPhone 12';
      display: block;
      z-index: 3;
      .lg-block({
        font-size: 18px;
        top: -11px;
        left: 80px;
      });
    }
    &::after {
      position: absolute;
      left: 110px;
      top: 13px;
      font-size: 24px;
      content: 'ютиб ол';
      display: block;
      z-index: 3;
      .lg-block({
        font-size: 12px;
        left: 80px;
      });
    }
  }

}