.hero {
  background: @grey url(../img/hero-bg.jpg) no-repeat center/cover;
  // min-height: 1026px;
  overflow: hidden;
  // .md(min-height, 656px);
  .sm-block({
    background: @grey url(../img/hero-mob-bg.jpg) no-repeat center/cover;
  });

  &__wrapper {
    position: relative;
  }

  &__content {
    padding-top: 100px;
    padding-bottom: 337px;
    .md-block({
      padding-top: 46px;
    });
  }

  &__text {
    position: relative;
    z-index: 5;

    .md(position, static);
    
    h1 {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 40px;
      line-height: 158.5%;
      text-transform: uppercase;
      .md-block({
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 26px;
      });
      span {
        display: block;
        font-style: italic;
        font-weight: 500;
        color: @dark_grey;
      }
    }
  }

  &__descr {
    margin-bottom: 64px;
    max-width: 484px;
    font-size: 20px;
    line-height: 128.03%;
    font-weight: 500;
    // text-transform: lowercase;
    // color: rgba(47, 43, 50, 0.7);
    text-shadow: 2px 2px rgba(47, 43, 50, 0.2);
    color: @accent;
    .md-block({
      margin-bottom: 23px;
      max-width: 280px;
      font-size: 12px;
      line-height: 14px;
			text-shadow: none;
    });
  }

  &__btn {
    width: 290px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
    text-align: center;
    .md-block({
      font-size: 11px;
      width: 233px;
      height: 37px;
      line-height: 37px;
      background: @accent url(../img/svg/logo-button.svg) no-repeat 102% center/contain;
    });
  }

  &__girl {
    position: absolute;
    left: 55%;
    bottom: 0;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    
    .md-block({
      width: 265px;
    });
    .sm-block({
      width: 164px;
    });
    .xs-block({
      left: unset;
      right: -34px;
    });
  }

  &__iphone {
    position: absolute;
    left: 28%;
    bottom: -65px;
    z-index: 2;
    width: 274px;
    // display: flex;
    // align-items: flex-end;
    .lg-block({
      left: 0;
      width: 200px;
    });

    // &::before {
    //   position: absolute;
    //   right: 3%;
    //   top: 46%;
    //   font-weight: 700;
    //   font-size: 36px;
    //   content: 'iPhone 12';
    //   display: block;
    //   z-index: 3;
    //   color: @blue;
    //   // display: none;
    //   .lg-block({
    //     font-size: 18px;
    //     // top: -13px;
    //     // left: 80px;
    //   });
    // }
    // &::after {
    //   position: absolute;
    //   right: 3%;
    //   top: 40%;
    //   font-size: 24px;
    //   content: 'ютиб ол';
    //   display: block;
    //   z-index: 3;
    //   color: @blue;
    //   // display: none;
    //   .lg-block({
    //     font-size: 16px;
    //     // left: 80px;
    //   });
    // }
  }

}

// .content-ru {
//   .hero {
//     // min-height: 1000px;
//     // .md(min-height, 656px);

//     // &__iphone::after {
//     //   content: 'выиграй';
//     // }
//   }
// }

.seven-days {
  .hero {
    background: @grey url(../img/seven-days/hero-bg.jpg) no-repeat center/cover;
    .md(min-height, 580px);
    .sm-block({
      min-height: 505px;
      background: @grey url(../img/seven-days/hero-mob-bg.jpg) no-repeat center/cover;
    });

    &__content {
      .md(padding-bottom, 225px);
      .sm(padding-bottom, 194px);
    }

    h1 {
      span {
        max-width: 800px;
        min-height: 126px;
        .md(min-height, 51px);
        color: #EA5B75;
      }
    }
  }
}

.seven-days.content-ru {
  .hero {
    h1 {
      span {
        min-height: auto;
        .md(min-height, auto);
      }
    }
  }
}