.swiper-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 80px;
  // height: 506px;
  // .md(height, 470px);
  // .sm(height, 450px);
  // .xs(height, 430px);
}

.swiper-container-bottom {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 55px;
  // height: 600px;
  // .md(height, 470px);
  // .sm(height, 450px);
  // .xs(height, 430px);
}

.slider {

  .swiper-pagination {
    // display: flex;
    // justify-content: center;

    &-bullet {
      // width: 6px;
      // height: 6px;
      // margin: 0 4px!important;
      // opacity: 1;
    }
    
    &-bullet-active {
      background: @accent;
    }
  }

  &__slide {

    // a {
    //   display: block;
    //   margin-bottom: 18px;
    //   font-size: 20px;
    //   line-height: 106.86%;
    //   color: @blue;
    //   text-decoration: none;
    //   transition: all 0.3s ease;
    //   &:hover {
    //     color: @accent;
    //   }
    // }

    &--video {
      cursor: pointer;
      text-align: center;
    }
  }

  &__images {
    display: flex;
    .lg(justify-content, center);
  }

  &__image {
    &:first-child {
      margin-right: 7px;
    }
  }

  &__call {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    .md-block({
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 19px;
    });

    text-align: center;
    color: @accent;
  }

  &__btn {
    margin: 0 auto;
    width: 289px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
  }
}

.slider__top {
  padding-top: 134px;
  padding-bottom: 84px;
  background: @white url(../img/svg/slider1-bg.svg) no-repeat left bottom/contain;
  .sm-block({
    padding-top: 42px;
    padding-bottom: 60px;
  });

  // .swiper-slide-active + .slider__slide {
  .swiper-slide-active {
    border-top-color: @blue!important;;
    // .lg(border-top-color, @accent);
  }

  // .swiper-slide-active {
  //   .lg(border-top-color, @blue);
  // }

  .slider__title {
    margin-bottom: 25px;
    text-align: left;
    .md-block({
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 12px;
    });
  }

  .slider__slide {
    padding-top: 14px;
    border-top: 3px solid @accent;
    a {
      .md(font-size, 16px);
    }
  }

  .slider__image {
    text-align: center;
    width: 100%;
    height: 337px;
    
    img {
      border-radius: 5px;
      width: 100%;
      height: 337px;
      object-fit: cover;
    }

    p {
      text-align: left;
    }
  }
}

.slider__bottom {
  padding-top: 78px;
  padding-bottom: 163px;
  .md-block({
    padding-top: 15px;
    padding-bottom: 73px;
  });

  .swiper-container {
    margin-bottom: 52px;
  }

  .slider__slide {
    // border-top: 3px solid transparent;
    padding-top: 14px;
    // transition: all 0.3s ease;
    // transform: scale(0.7);
    a {
      color: @white
    }
  }

  .slider__image {
    // position: relative;
    // &::before {
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   content: '';
    //   background: rgba(255, 255, 255, 0.6);
    // }
    text-align: center;
    width: 100%;
    height: 506px;
    
    img {
      border-radius: 5px;
      // width: 100%;
      height: 506px;
      object-fit: contain;
    }

    p {
      color: @white
    }
  }

  .swiper-slide-active {
    // border-top-color: @accent;
    // transform: none;
    a {
      .md(font-size, 16px);
      color: @blue;
      &:hover {
        color: @accent;
      }
    }
    .slider__image {
      text-align: center;
      // &::before {
      //   background: transparent;
      // }
      p {
        color: @black
      }
    }
  }

  .slider__title {
    margin-bottom: 70px;
    .md-block({
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 18px;
    });
  }

}

.slider__awards {
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
  // background: url(../img/awards/awards-bg.png) no-repeat;

  #confetti-holder {
    position: absolute;
  }

  .slider__image {
    img {
      object-fit: cover;
    }
  }

  &-video {
    width: 560px;
    max-width: 100%;
    position: relative;
    z-index: 2;
    margin: 10px auto;

    &::before {
      position: absolute;
      content: '';
      background: url(../img/play.png) no-repeat;
      width: 66px;
      height: 66px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    img {
      border-radius: 5px;
    }
  }
}

.seven-days {
  .swiper-pagination-bullet-active {
    background: @green;
  }

  .slider {
    &__top {
      .slider__slide {
        border-top: 3px solid @green;
      }
      .slider__image {
        width: 203px;
        height: 337px;
        
        img {
          border-radius: 5px;
          width: 203px;
          height: 337px;
          object-fit: cover;
        }
      }
    }

    &__bottom {
      .slider__title {
       position: relative;
       margin-bottom: 100px;
       .md(margin-bottom, 60px);

       &::after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -58px;
        width: 587px;
        max-width: 90%;
        height: 3px;
        background-color: @green;

        .md(bottom, -25px);
       }
      }

      // .slider__slide {
      //   transform: none;
      //   border-top: none;
      // }

      // .swiper-slide-active {
      //   border: none;
      // }

      // .slider__image {
      //   text-align: center;

      //   &::before {
      //     background: none;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 992px){
  .seven-days {
    .slider__top .swiper-slide-active {
      border-top-color: @green !important;
    }
  }
}