.specialists {
  &__title {
    margin-bottom: 60px;
    text-align: left;
    max-width: 760px;
    position: relative;
    .md-block({
      font-size: 20px;
      line-height: 26px;
      max-width: 320px;
      margin-bottom: 22px;
    });
    &::before {
      position: absolute;
      content: '';
      top: -32px;
      left: 0;
      width: 413px;
      height: 3px;
      background-color: @accent;
      .md-block({
        width: 70%;
        top: -24px;
      });
    }
  }

  &__formula {
    padding: 10px 24px;
    // padding-left: 111px;
    margin-bottom: 80px;
    width: 680px;
    max-width: 100%;
    height: 59px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    color: @white;
    background-color: @light_blue;
    // background: @light_blue url(../img/svg/logo-button.svg) no-repeat 12px center;
    // animation: blink 1s infinite;

    .md-block({
      font-size: 18px;
      // height: 36px;
      // line-height: 137%;
      margin-bottom: 22px;
      // padding-left: 37px;
      // padding-right: 111px;
      // background: @light_blue url(../img/svg/logo-button.svg) no-repeat 95% center;
    });

    .sm-block({
      padding: 5px;
      // width: 100%;
      // max-width: 341px;
      height: 36px;
      font-size: 11px;
      // padding: 8px;
      background: @light_blue;
    });

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
    }
  }

  &__list {
    .row-flex();
  }

  &__item {
    .col();
    .size(6);
    .size-md(12);

    height: 343px;

    background-color: @white;
    box-shadow: 5px 8px 36px rgba(174, 179, 180, 0.6);
    border-radius: 5px;

    display: flex;
    margin-bottom: 58px;
    .md-block({
      display: block;
      margin-bottom: 15px;
      // height: 300px;
      height: auto;
    });

    &--alt {
      .specialists__text {
        order: -1;
        .md(order, unset);
      }
    }
  }

  &__image {
    width: 294px;
    height: 343px;
    overflow: hidden;
    .md-block({
      float: left;
      width: 134px;
      height: 156px;
      padding-right: 10px;
      padding-bottom: 10px;
    });
    
    img {
      width: 294px;
      height: 343px;
      object-fit: cover;
      .md-block({
        width: 134px;
        height: 156px;
        border: none;
        border-top-left-radius: 5px;
      });
    }
  }

  &__text {
    width: 60%;
    padding: 15px;
    overflow-y: auto;
    .md-block({
      width: auto;
      padding-top: 2px;
      overflow-y: unset;
    });

    h3 {
      margin-bottom: 10px;
      color: @blue;

      font-weight: 700;
      font-size: 24px;
      .md-block({
        font-size: 18px;
        margin-bottom: 5px;
      });
    }
  }

  &__job {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 19px;
    .md-block({
      font-size: 13px;
      line-height: 14px;
    });
    b {
      font-size: 14px;
    }
  }

  &__achiv {
    color: @dark_grey;
    font-size: 13px;
    line-height: 18px;
  }

}

.seven-days {
  .specialists {
    &__title {
      &::before {
        background-color: @green;
      }
    }

    &__formula {
      background-color: #002E63;
    }

    &__item {
      .size(4);
      .size-lg(6);
      .size-sm(12);
      height: unset;
      flex-direction: column;
    }

    &__image {
      width: 100%;
      height: unset;
      overflow: initial;
      .md-block({
        float: none;
        padding-right: 0;
      });
      .sm-block({
        float: left;
        width: 134px;
        height: 156px;
        padding-right: 10px;
        padding-bottom: 10px;
      });

      img {
        width: 100%;
        height: auto;      
        .sm-block({
          width: 134px;
          height: 156px;
        });
      }
    }

    &__text {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}