.steps {
  padding-top: 88px;
  padding-bottom: 140px;
  text-align: center;
  .md-block({
    padding-top: 27px;
    padding-bottom: 86px;
  });

  &__title {
    margin-bottom: 65px;
    .md-block({
      margin-bottom: 29px;
      font-size: 20px;
      line-height: 26px;
    });
  }

  &__list {
    .row-flex();
    justify-content: space-between;
  }

  &__item {
    .col();
    .size(4);
    .size-lg(6);
    min-height: 300px;
    padding-top: 194px;
    margin-bottom: 70px;
    line-height: 149%;
    .md-block({
      margin-bottom: 25px;
      padding-top: 185px;
    });

    br {
      .lg(display, none);
    }
    
    .sm-block({
      font-size: 12px;
      line-height: 120%;
      padding-top: 175px;
      background-size: contain;
    });

    background-repeat: no-repeat;
    background-position: top center;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 181px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    .sm-block({
      width: 100%;
      height: auto;
    })
  }

  &__btn {
    width: 287px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
  }
}